<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.striphack.stripbro">

   <!-- <uses-permission android:name="android.permission.INTERNET"/>-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:name=".application.StripbroApplication"
        android:theme="@style/Theme.Stripbro.NoActionBar">
        <activity
            android:name=".ui.activity.LaunchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Stripbro.Launch">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.EnterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"/>
        <activity android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Stripbro.Fullscreen"
            android:windowSoftInputMode="adjustNothing"/>
        <activity android:name=".ui.activity.LogoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Stripbro.Fullscreen"
            android:windowSoftInputMode="adjustNothing"/>
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
        <service android:name=".ui.notification.NotificationIntentService"/>
    </application>

</manifest>
